body{
    background-color: hsl(212, 45%, 89%);
}

#main h1,p{
    font-family: outfit;    
}
#qrimg{
    max-width: 150px;
    max-height: 150px;
    border-radius: 20px;
    padding: 8px;
}


.attribution { 
    font-size: 11px;
     text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%);
 }
